.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.span {

  font-size: 18px;
  font-weight: 700;
  color: #000;
  background-color: white;
  padding: 5px 10px;
  border-radius: 10px;
}

.btnWrapper {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}